.header-conteiner {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  .row {
    width: 50rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .menu-section {
      width: 100%;
      .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .stars,
        .return {
          display: flex;

          span > img {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 0.45rem;
          }
        }
        .return {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .header-conteiner {
    .row {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;

      h1.is-size-1 {
        font-size: 2.5rem !important;
        width: 85%;
        text-align: center;
      }

      .menu-section {
        width: auto !important;

        .menu-toggle {
          width: 40px;
          height: auto;

          .one,
          .two,
          .three {
            background-color: #000;
            height: 5px;
            width: 100%;
            margin: 6px auto;

            transition-duration: 0.3s;
          }
        }

        .row.container {
          display: none !important;
        }
      }

      .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw !important;
        height: 100vh;

        z-index: 10;
        background-color: red;

        .row.container {
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: auto;
          line-height: 8rem;
          font-size: 2rem;
          margin-top: 5rem;

          .return img {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
        .menu-toggle {
          position: absolute;
          left: 40px;
          top: 15px;

          .one {
            transform: rotate(45deg) translate(7px, 7px);
          }
          .two {
            opacity: 0;
          }
          .three {
            transform: rotate(-45deg) translate(10px, -8px);
          }
        }
      }
    }
  }
}
